<div>
  <nav class="navbar navbar-expand headerclass ">
    <a href="#" class="navbar-brand"></a>
    <div class="navbar-nav mr-auto" >
      <li class="nav-item" style="align-items: right">
        <a routerLink="list" class="nav-link" style="color: white">List</a>
      </li>
      <li class="nav-item" style=" padding-right: 60rem;" >
        <a routerLink="add" class="nav-link" style="color: white"> Add</a>
      </li>
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>